        <div class="footer">
            <footer role="contentinfo" class="container">

                <div class="row">
                    <div class="large-3-col small-12-col">
                    
                        <div class="vcard">
                            <h6 class="org"><a href="#">International Labour Organization</a></h6>
                            <p class="adr">
                                <span class="street-address">4 route des Morillons</span><br>
                                <span class="postal-code">CH-1211 Genève 22</span><br>
                                <span class="country-name">Switzerland</span><br>
                            </p>
                        </div>

                        <a href="#" class="logo"><img src="assets/images/templates/ilo-blue-small.png" alt="International Labour Organization"><span>International Labour Organization</span></a>

                    </div>
                     <div class="large-9-col">

                        <nav role="navigation" class="row">
                            <ul class="large-4-col">
                                <li><a href="#">About the ILO</a>
                                    <ul>
                                        <li><a href="#">Employment opportunities</a></li>
                                        <li><a href="#">Departments and offices</a></li>
                                        <li><a href="#">Mission and objectives</a></li>
                                        <li><a href="#">Decent work agenda</a></li>
                                        <li><a href="#">History</a></li>
                                    </ul>
                                </li>
                                <li>Meetings, events and campaigns
                                    <ul>
                                        <li><a href="#">International Labour Conference</a></li>
                                        <li><a href="#">Governing Body</a></li>
                                        <li><a href="#">Regional meetings</a></li>
                                        <li><a href="#">Voices on Social Justice</a></li>
                                    </ul>
                                </li>
                                <li>Tripartism
                                    <ul>
                                        <li><a href="#">Bureau for Workers' Activities</a></li>
                                        <li><a href="#">Bureau for Employer's Activities</a></li>
                                    </ul>
                                </li>
                            </ul>
                            <ul class="large-4-col">
                                <li>Labour standards
                                    <ul>
                                        <li><a href="#">Maritime Labour Convention</a></li>
                                        <li><a href="#">NORMLEX database</a></li>
                                        <li><a href="#">Latest ratifications</a></li>
                                    </ul>
                                </li>
                                <li>Topics
                                    <ul>
                                        <li><a href="#">Topics</a></li>
                                        <li><a href="#">Child labour</a></li>
                                        <li><a href="#">Safety and health at work</a></li>
                                        <li><a href="#">Forced labour</a></li>
                                        <li><a href="#">Green jobs</a></li>
                                        <li><a href="#">Youth employment</a></li>
                                    </ul>
                                </li>
                                <li>Publications
                                    <ul>
                                        <li><a href="#">Publications</a></li>
                                        <li><a href="#">Books and reports</a></li>
                                        <li><a href="#">Working papers</a></li>
                                        <li><a href="#">Magazines and journals</a></li>
                                        <li><a href="#">Meeting documents</a></li>
                                        <li><a href="#">Library</a></li>
                                    </ul>
                                </li>
                                </ul>
                                <ul class="large-4-col">
                                <li>ILO in your language
                                    <ul>
                                        <li><a href="#">اللغة العربية</a></li>
                                        <li><a href="#">中文</a></li>
                                        <li><a href="#">Deutsch</a></li>
                                        <li><a href="#">Italiano</a></li>
                                        <li><a href="#">日本語</a></li>
                                        <li><a href="#">Nederlands</a></li>
                                        <li><a href="#">Portugues</a></li>
                                        <li><a href="#">Русcкий</a></li>
                                        <li><a href="#">Türkçe </a></li>
                                    </ul>
                                </li>
                            </ul>
                        </nav>

                    </div>
                </div>

            </footer>
        </div>
        <a href="#banner" class="back-to-top">Back to the top</a>

     


  

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="assets/js/plugins-ck.js"></script>

    <script src="assets/js/fancybox/jquery.fancybox.js" type="text/javascript"></script>
    <script src="assets/js/fancybox/helpers/jquery.fancybox-thumbs.js" type="text/javascript"></script>
    <script src="assets/js/jMonthCalendar.js" type="text/javascript"></script>
    <script src="assets/js/jquery.easydropdown.min.js" type="text/javascript"></script>
    <script src="assets/js/tinynav.min.js"></script>

    <script src="assets/js/onload-ck.js"></script>


   
    <!--[if lt IE 9]>
    <script src="{site_url}assets/js/selectivizr-min.js"></script>
    <![endif]-->
    
</body>

</html>