<div class="furniture strong-bar subscribe">
    <h4>Subscribe <span class="icon-envelope"></span></h4>
    <div class="freeform">
        <form action="http://www.ilo.org/pubcgi/FormMail.pl" method="post" name="comments">
	        <p>Send us your email and get our news delivered straight to your mailbox</p>
	        <p><input type="text" class="search" name="email" /> <input type="submit" class="butt" onClick="_gaq.push(['_trackEvent', 'Form submission', 'DCOMM list']); " name="Submit" value="Send" /> <input type="hidden" name="subject" value=" " /> <input type="hidden" name=" " value="subscribe list-iol" /> <input type="hidden" name="redirect" value="/global/about-the-ilo/newsroom/lang--en/index.htm" /> <input type="hidden" name="recipient" value="listserver@ilo.org" /></p>
        </form>
    </div>
</div>
