<div class="furniture page-tools sticky">
    <h4>Tools <span class="icon-cogs"></span></h4>
    <div class="tools">
        <div class="page-language">
            <p>This content is available in:</p>
            <ul>
                <li><a href="#">Español</a></li> 
                <li><a href="#">Français</a></li>
            </ul>
        </div>
        <div class="mobile-expand">
            <a href="#" class="more-tools">More tools&nbsp;&nbsp;<span>[+]</span></a>
        </div>
        <div class="tools-collapse">
            <div class="page-utils">
               <ul>
                    <li><a href="#" class="small-text">A</a></li> 
                    <li><a href="#" class="medium-text">A+</a></li>
                    <li><a href="#" class="large-text">A++</a></li>
                </ul> 
                <a href="javascript:window.print()" class="print-page"><span class="icon-print"></span> Print</a>
                <a href="#" class="email-page"><span class="icon-envelope"></span> Email</a>
            </div>
            <div class="page-pocket">
                <a href="https://getpocket.com/save?url=${url}&title=${title}" class="pocket-page" target="_blank">Read it later with Google Pocket</a>
            </div>
            <div class="page-share">
                <p>Share:</p>
                <div class="addthis_toolbox addthis_default_style addthis_32x32_style">
                    <a class="addthis_btn addthis_button_preferred_1"></a>
                    <a class="addthis_btn addthis_button_preferred_2"></a>
                    <a class="addthis_btn addthis_button_preferred_3"></a>
                    <a class="addthis_btn addthis_button_preferred_4"></a>
                    <a class="addthis_btn addthis_button_compact"></a>
                    <a class="addthis_btn addthis_counter addthis_bubble_style"></a>
                </div>
                <script src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-52a195d34cfe4b0c&async=1"></script>
            </div>
        </div>
    </div>
</div>