.container {
  margin: 0 auto;
  width: 938px;
}
.row {
  margin-left: -15px;
  margin-right: -15px;
  .clearfix();
}
.col() {
  float: left;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.large-12-col {
  .col();
  width: 100%;
}
.large-9-col {
  .col();
  width: 75%;
}
.large-8-col {
  .col();
  width: 66.6666666%;
}
.large-7-col {
  .col();
  width: 58.3333333%;
}
.large-6-col {
  .col();
  width: 50%;
}
.large-5-col {
  .col();
  width: 41.66666667%;
}
.large-4-col {
  .col();
  width: 33.3333333%;
}
.large-3-col {
  .col();
  width: 25%;
}
.well {
  background-color: #ccc;
}
.row .large-6-col:nth-child(2n+3) {
  clear: left;
}