.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
.hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
.img-responsive,
.full-width {
  display: block;
  max-width: 100%;
  height: auto;
}
