.furniture.slider #slider .flex-direction-nav .flex-next {
    right: auto !important;
    left: 20px !important;
}

.furniture.slider #slider .flex-direction-nav .flex-prev {
    left: auto !important;
    right: 20px !important;
}

.furniture.slider:hover #slider .flex-direction-nav .flex-prev {
    right: 80px !important;
}