#logo {
    background: none !important;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(
            src='../images/templates/ilo.png',
            sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(
    src='../images/templates/ilo.png',
            sizingMethod='scale')";
}
.lang-es #logo {
    background: none !important;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(
            src='../images/templates/ilo-es.png',
            sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(
    src='../images/templates/ilo.png',
            sizingMethod='scale')";
}
.lang-pt #logo {
    background: none !important;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(
            src='../images/templates/ilo-pt.png',
            sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(
    src='../images/templates/ilo.png',
            sizingMethod='scale')";
}
.lang-nl #logo {
    background: none !important;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(
            src='../images/templates/ilo-nl.png',
            sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(
    src='../images/templates/ilo.png',
            sizingMethod='scale')";
}
.lang-ja #logo {
    background: none !important;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(
            src='../images/templates/ilo-jp.png',
            sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(
    src='../images/templates/ilo.png',
            sizingMethod='scale')";
}
.lang-de #logo {
    background: none !important;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(
            src='../images/templates/ilo-de.png',
            sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(
    src='../images/templates/ilo.png',
            sizingMethod='scale')";
}
.lang-ru #logo {
    background: none !important;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(
            src='../images/templates/ilo-ru.png',
            sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(
    src='../images/templates/ilo.png',
            sizingMethod='scale')";
}
.lang-it #logo {
    background: none !important;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(
            src='../images/templates/ilo-it.png',
            sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(
    src='../images/templates/ilo.png',
            sizingMethod='scale')";
}
.lang-fr #logo {
    background: none !important;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(
            src='../images/templates/ilo-fr.png',
            sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(
    src='../images/templates/ilo.png',
            sizingMethod='scale')";
}
.lang-zh #logo {
    background: none !important;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(
            src='../images/templates/ilo-zh.png',
            sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(
    src='../images/templates/ilo.png',
            sizingMethod='scale')";
}

#secondary-banner .mega-dropdown.topics, #secondary-banner .mega-dropdown.sectors {
    background: #1f2750 !important;
}

#secondary-banner .container nav ul li a {
    border-left: 1px solid #37468E !important;
}

#secondary-banner .container nav ul li ul li a {
    border-left: none !important;
}

#secondary-banner .mega-dropdown li {
    border-top: 1px solid #343c60;
}

#slider:hover .flex-direction-nav .flex-next {
    right: 80px !important;
}

.slider .flex-direction-nav .flex-next {
    right: 20px !important;
}

.slider-large .flex-direction-nav .flex-next {
    right: 187px !important;
}

.slider-large .flex-direction-nav .flex-prev, .slider .flex-direction-nav .flex-prev {
    left: 20px !important;
}

.furniture.page-tools .page-utils .print-page span, .furniture.page-tools .page-utils .email-page span {
    font-size: 10px;
}

.furniture.no-img-scale .item-list li .item-image img {
    width: 186px;
}

#secondary-banner .container .form-search input {
    padding-top: 10px;
    height: 27px;
}