@white: #FFFFFF;
@dark: #4B4B4B;
@gray: lighten(@dark, 40%);
@light-gray: lighten(@dark, 60%);
@tan: #E2D4C7;
@ilo-blue: #37468E;
@ilo-orange: #CE5C3C;
@un-blue: #6B91CB;
@africa: #5B1659;
@america: #911474;
@arab-states: #008E88;
@asia: #539E36;
@europe: #786F9F;
@artworks-black: #1E1E1E;
@artworks-purple: #A1419A;

header {
  nav {
    ul {
      padding: 0;
      margin: 0;
      li {
        float: left;
        display: block;
        font-size: 12px;
        line-height: 17px;
        &.here {
          a {
            background-color: @white;
            border-right-color: @white !important;
            cursor: default;
            color: @dark;
            &:hover, &:active, &:focus {
              color: @dark !important;
              background-color: @white !important;
            }
          }
        }
        a {
          color: @white;
          padding: 12px 10px 14px 10px;
          display: inline-block;
        }
      }
    }
  }
  margin-bottom: 30px;
}

#primary-banner {
  background-color: @ilo-blue;
  overflow: hidden;
  color: @white;
  #logo {
    overflow: hidden;
    width: 215px;
    height: 77px;
    margin: 18px 0 18px 0;
    display: block;
    color: white;
    background: url('../images/templates/ilo.png') no-repeat 0 0;
    -webkit-background-size: 100%;
    background-size: cover;
    h1 {
      text-indent: -9999px;
      overflow: hidden;
    }
  }
  h2, h3 {
    font-family: @sans-serif;
    font-weight: 100;
    text-align: right;
  }
  h2 {
    margin-top: 42px;
    font-size: 23px;
    line-height: 25px;
    margin-bottom: 8px;
  }
  h3 {
    font-size: 12px;
    line-height: 15px;
    margin-top: 0;
    color: lighten(@ilo-blue, 40%);
    a {
      color: lighten(@ilo-blue, 40%);
      &:hover, &:active, &:focus {
        border-bottom: 1px lighten(@ilo-blue, 20%) solid;
      }
      &:after, &:before {
        content: "";
        display: none;
      }
    }
  }
  .language {
    position: absolute;
    font-family: @sans-serif;
    top: -1px;
    right: 15px;
    border: 1px solid lighten(@ilo-blue, 20%);
    font-size: 11px;
    line-height: 15px;
    padding: 5px 10px;
    color: lighten(@ilo-blue, 20%);
    a {
      color: @white;
      padding-right: 3px;
      padding-left: 3px;
      &:hover, &:active, &:focus {
        background-color: @un-blue;
      }
      &.active {
        color: lighten(@ilo-blue, 40%);
        &:hover, &:active, &:focus {
          background-color: transparent;
          cursor: default;
        }
      }
    }
    span {
      padding-left: 10px;
      margin-top: 3px;
    }
  }
}

.lang-es #primary-banner #logo {
  background: url('../images/templates/ilo-es.png') no-repeat 0 0;
}
.lang-pt #primary-banner #logo {
  background: url('../images/templates/ilo-pt.png') no-repeat 0 0;
}
.lang-nl #primary-banner #logo {
  background: url('../images/templates/ilo-nl.png') no-repeat 0 0;
  width: 263px;
}
.lang-ja #primary-banner #logo {
  background: url('../images/templates/ilo-jp.png') no-repeat 0 0;
  width: 222px;
}
.lang-de #primary-banner #logo {
  background: url('../images/templates/ilo-de.png') no-repeat 0 0;
  width: 269px;
}
.lang-ru #primary-banner #logo {
  background: url('../images/templates/ilo-ru.png') no-repeat 0 0;
  width: 247px;
}
.lang-it #primary-banner #logo {
  background: url('../images/templates/ilo-it.png') no-repeat 0 0;
  width: 233px;
}
.lang-fr #primary-banner #logo {
  background: url('../images/templates/ilo-fr.png') no-repeat 0 0;
  width: 224px;
}
.lang-zh #primary-banner #logo {
  background: url('../images/templates/ilo-zh.png') no-repeat 0 0;
  width: 222px;
}
.lang-es #primary-banner #logo, .lang-pt #primary-banner #logo, .lang-nl #primary-banner #logo, .lang-ja #primary-banner #logo, .lang-de #primary-banner #logo, .lang-ru #primary-banner #logo, .lang-it #primary-banner #logo, .lang-zh #primary-banner #logo, .lang-fr #primary-banner #logo {
  -webkit-background-size: 100%;
  background-size: cover;
}

#secondary-banner {
  background-color: @un-blue;
  position: relative;
  z-index: 1000;
  .container {
    position: relative;
    nav {
      ul {
        li {
          width: 24%;
          line-height: 16px;
          a {
            border-left: 1px solid rgba(0, 0, 0, 0.1);
            border-right: 1px solid rgba(255, 255, 255, 0.1);
            width: 80%;
            font-size: 12px;
            padding: 11px 10% 10px 10%;
            font-family: @sans-serif-bold;
            background: #4B77B3 url('../images/templates/down-arrow-large.png') no-repeat 93% 48%;
            &:hover, &:active, &:focus {
              color: @white;
              background-color: darken(@ilo-blue, 17%);
            }
          }
          &:first-child {
            a {
              border-left: 0;
            }
          }
          &.fast-nav {
            color: @white;
            font-size: 12px;
            line-height: 15px;
            text-align: right;
            padding: 11px 10px 10px 10px;
            font-family: @sans-serif;
            width: 89px !important;
          }
        }
      }
    }
    .form-search {
      border: 0;
      label {
        display: none;
      }
      input {
        border: 0;
        height: 37px;
        padding: 0 10px;
        background-color: lighten(#7ca4d4, 5%);
        font-size: 12px;
        line-height: 15px;
        font-family: @sans-serif-light;
        color: @white;
        width: 205px;
        border-right: 1px solid rgba(255, 255, 255, 0.1);
        border-left: 1px solid rgba(0, 0, 0, 0.2);
        float: left;
        -webkit-border-radius: 0;
        border-radius: 0;
        &:focus {
          background-color: lighten(#7ca4d4, 20%);
          color: @dark !important;
          &::-webkit-input-placeholder {
            color: @dark !important;
          }
          &:-moz-placeholder {
            color: @dark !important;
          }
          &::-moz-placeholder {
            color: @dark !important;
          }
          &:-ms-input-placeholder {
            color: @dark !important;
          }
        }
      }
      .btn {
        color: #fff;
        font-size: 0;
        text-indent: -9999px;
        overflow: hidden;
        width: 37px;
        height: 37px;
        border: none;
        margin: 0;
        display: block;
        float: left;
        padding: 0;
        background: #4B77B3 url('../images/templates/mag-low.png') no-repeat 50% 50%;
        border-right: 1px solid rgba(0, 0, 0, 0.1);
        border-left: 1px solid rgba(0, 0, 0, 0.1);
        &:hover, &:active, &:focus {
          background: @un-blue url('../images/templates/mag-low.png') no-repeat 50% 50%;
        }
      }
    }
  }
}

::-webkit-input-placeholder {
  color:    #fff !important;
}
:-moz-placeholder {
  color:    #ffffff !important;
  opacity: 1;
}
::-moz-placeholder {
  color:    #ffffff !important;
  opacity: 1;
}
:-ms-input-placeholder {
  color:    #fff !important;
  opacity: 1;
}

#tertiary-banner {
  background-color: darken(@ilo-blue, 12%);
  overflow: hidden;
  nav {
    ul {
      li {
        a {
          font-family: @sans-serif-bold;
          font-size: 12px;
          border-left: 1px solid rgba(255, 255, 255, 0.2);
          border-right: 1px solid rgba(0, 0, 0, 0.3);
          &:hover, &:active, &:focus {
            background-color: @ilo-blue;
            color: @white;
          }
        }
        &:first-child {
          a {
            border-left: 0;
          }
        }
        &:last-child {
          a {
            border-right: 0;
          }
        }
      }
    }
  }
  .home-link {
    display: none;
  }
  .navbar-toggle {
    display: none;
    color: @white;
    height: 8px;
    width: 50%;
    padding: 15px 10px;
    font-family: @sans-serif-bold;
    font-size: 12px;
    line-height: 15px;
    border-left: 1px solid rgba(255, 255, 255, 0.2);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    background: transparent url('../images/templates/down-arrow-large.png') no-repeat 99.4% 48%;
    &:hover, &:active, &:focus {
      background-color: @ilo-blue;
    }
    .icon-bar {
      border-bottom: 1px solid @white;
      width: 17px;
      display: block;
      margin-bottom: 3px;
    }
    .menu {
      margin-top: -3px;
      float: right;
      padding-left: 30px;
    }
  }
  .icon-home {
    font-size: 15px;
  }
}

#secondary-banner {
  .mega-dropdown {
    display: none;
    position: absolute;
    top: 37px;
    left: 15px;
    width: 908px;
    padding: 20px 15px 20px 15px;
    z-index: 100;
    font-size: 16px;
    line-height: 16px;
    font-family: @sans-serif-light;
    background-color: darken(@ilo-blue, 17%);
    -webkit-background-size: 100%;
    background-size: 908px;
    ul {
      margin: 0;
      padding: 0;
    }
    li {
      list-style: none;
      margin-left: 0;
      width: 23% !important;
      margin-left: 1%;
      margin-right: 1%;
      line-height: 16px;
      float: left;
      border-top: 1px solid rgba(255, 255, 255, 0.1);
      padding: 10px 0 10px 0;
      &:nth-child(4n+5) {
        clear: both;
      }
      a {
        color: @white;
        background: none !important;
        font-size: 13.5px;
        line-height: 16px;
        padding: 0 !important;
        border: 0 !important;
        &:hover, &:active, &:focus {
          text-decoration: underline;
        }
        .linked {
          color: @un-blue;
        }
      }
      ul {
        margin-top: 10px;
        margin-bottom: 12px;
        overflow: hidden;
        li {
          margin-bottom: 6px;
          width: 100% !important;
          margin-left: 0 !important;
          border-top: 0 !important;
          padding: 0 !important;
          a {
            font-size: 12px !important;
            color: lighten(@un-blue, 15%);
            padding: 2px 0px;
            &:hover, &:active, &:focus {
              color: @un-blue !important;
              text-decoration: none;
              .linked {
                margin-left: 6px;
              }
            }
          }
        }
      }
    }
    &.topics {
      ul {
        margin: 0;
        padding: 0;
        li {
          padding: px 0 7px 0;
          a {
            font-size: 12px !important;
          }
          ul {
            li {
              a {

              }
            }
          }
        }
      }
    }
    &.regions {
      background: darken(@ilo-blue, 17%) url('../images/templates/ilo-map.png') no-repeat 50% 50%;
      height: 500px;
      padding: 0 15px;
      ul {
        li {
          border: 0 !important;
          display: inline-block !important;
          width: auto !important;
          position: absolute;
          a {
            background-color: @ilo-blue !important;
            color: @white;
            float: left;
            position: relative;
            &:after {
              top: 100%;
              left: 50%;
              border: solid transparent;
              content: " ";
              height: 0;
              width: 0;
              position: absolute;
              pointer-events: none;
              border-top-color: @ilo-blue;
              border-width: 7px;
              margin-left: -7px;
            }
            .icon-map-marker {
              margin-left: 8px;
              padding-left: 7px;
              padding-right: 7px;
              display: inline-block;
              font-size: 14px;
              line-height: 21px;
              float: right;
            }
            .region-tag {
              float: left;
              display: inline-block;
              padding: 1px 0 0 10px;
            }
          }
          &.americas {
            top: 35%;
            left: 18%;
            width: 130px !important;
            a {
              background-color: @america !important;
              &:after {
                border-top-color: @america;
              }
              .icon-map-marker {
                background-color: darken(@america, 10%);
              }
              &:hover, &:focus, &:active {
                background-color: lighten(@america, 10%) !important;
                &:after {
                  border-top-color: lighten(@america, 10%) !important;
                }
              }
            }
          }
          &.africa {
            top: 50%;
            left: 46%;
            width: 100px !important;
            a {
              background-color: @africa !important;
              &:after {
                border-top-color: @africa;
              }
              .icon-map-marker {
                background-color: darken(@africa, 10%);
              }
              &:hover, &:focus, &:active {
                background-color: lighten(@africa, 10%) !important;
                &:after {
                  border-top-color: lighten(@africa, 10%) !important;
                }
              }
            }
          }
          &.asia-and-the-pacific {
            top: 55%;
            left: 70%;
            width: 210px !important;
            a {
              background-color: @asia !important;
              &:after {
                border-top-color: @asia;
              }
              .icon-map-marker {
                background-color: darken(@asia, 10%);
              }
              &:hover, &:focus, &:active {
                background-color: lighten(@asia, 10%) !important;
                &:after {
                  border-top-color: lighten(@asia, 10%) !important;
                }
              }
            }
          }
          &.arab-states{
            top: 41%;
            left: 50%;
            width: 150px !important;
            a {
              background-color: @arab-states !important;
              &:after {
                border-top-color: @arab-states;
              }
              .icon-map-marker {
                background-color: darken(@arab-states, 10%);
              }
              &:hover, &:focus, &:active {
                background-color: lighten(@arab-states, 10%) !important;
                &:after {
                  border-top-color: lighten(@arab-states, 10%) !important;
                }
              }
            }
          }
          &.europe-and-central-asia {
            top: 25%;
            left: 45%;
            width: 240px !important;
            a {
              background-color: @europe !important;
              &:after {
                border-top-color: @europe;
              }
              .icon-map-marker {
                background-color: darken(@europe, 10%);
              }
              &:hover, &:focus, &:active {
                background-color: lighten(@europe, 10%) !important;
                &:after {
                  border-top-color: lighten(@europe, 10%) !important;
                }
              }
            }
          }
        }
      }
    }
  }
}

.social-pages {
  position: absolute;
  display: block;
  top: 210px;
  right: 10px;
  margin-top: 0;
  &.affix {
    position: fixed;
    top: 20px;
  }
  ul {
    li {
      list-style: none;
      margin-bottom: 20px;
      span {
        display: none;
      }
      img {
        width: 22px;
      }
      &:hover, &:active, &:focus {
        opacity: 0.8;
        -webkit-filter: grayscale(100%);
      }
      a:after, a:before {
        content: "";
        display: none;
      }
    }
  }
}

.social-pages.bg-white {
  ul {
    li {
      list-style: none;
      margin-bottom: 16px;
      background-color: white;
      padding: 2px;
    }
  }
}

#jPanelMenu-menu {
  background-color: #1B2751 !important;
  margin-top: 0;
  padding: 0;
  max-height: 1000px !important;
  list-style: none;
  max-width: 250px;
  .icon-home {
    display: none;
  }
  a {
    color: @white;
    width: 100%;
    font-size: 13.5px;
    line-height: 18px;
    padding: 8px 15px;
    display: inline-block;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    &:hover, &:active, &:focus {
      background-color: @ilo-blue;
    }
  }
  li:first-child {
    a {
      border-top: 0 !important;
    }
  }
  > li:first-child {
    // margin-top: 40px;
    margin-left: 15px;
  }
  li:last-child {
    a {
      border-bottom: 0 !important;
    }
  }
  li.fast-nav {
    display: none;
  }
  li.social-link {
    float: left;
    margin-top: 6px;
    margin-bottom: 3px;
    margin-right: 2px;
    img {
      width: 22px;
      margin-right: 0;
    }
    a {
      width: 22px;
      border: none;
      padding: 2px;
      background-color: white;
      &:after, &:before {
        content: "";
        display: none;
      }
    }
    span {
      display: none;
    }
  }
  .dropdown {
    background: url('../images/templates/down-arrow-large.png') no-repeat 93% 7px;
  }
  .mega-dropdown {
    width: 80%;
    ul {
      list-style: none;
      padding: 0;
      font-size: 12px;
      li {
        font-family: @sans-serif;
        border: 0;
        ul {
          margin: 0 0 0 10px;
          li {
            a {
              color: @un-blue;
              margin-bottom: 3px;
              margin-left: 30px;
              font-size: 12px !important;
              padding: 0;
              &:hover, &:active, &:focus {
                background-color: transparent;
                color: lighten(@un-blue, 20%);
              }
            }
          }
        }
        a {
          padding: 6px 30px;
          border: 0;
        }
      }
    }
  }
  .mega-dropdown.regions {
    .americas {
      .icon-map-marker {
        color: darken(@america, 0%);
      }
    }
    .africa {
      .icon-map-marker {
        color: lighten(@africa, 0%);
      }
    }
    .asia-and-the-pacific {
      .icon-map-marker {
        color: darken(@asia, 0%);
      }
    }
    .arab-states{
      .icon-map-marker {
        color: darken(@arab-states, 0%);
      }
    }
    .europe-and-central-asia {
      .icon-map-marker {
        color: darken(@europe, 0%);
      }
    }
  }
}


//
// Responsive: Large desktop and up
// --------------------------------------------------

@media (min-width: 1200px) {
  header {
    nav {
      ul {
        li {
          a {
            font-size: 12px;
          }
        }
      }
    }
    #secondary-banner {
      nav {
        ul {
          li {
            width: 24.2% !important;
            a {
              font-size: 13px !important;
              padding: 10px 10% 11px 10% !important;
            }
          }
        }
      }
    }
  }
  .navbar-toggle {
    display: none;
  }
  #secondary-banner {
    .mega-dropdown {
      width: 1108px;
      right: 14px;
      &.regions {
        height: 650px;
        background: darken(@ilo-blue, 17%) url('../images/templates/ilo-map-large.png') no-repeat 50% 50% !important;
        ul {
          li {
            &.americas {
              top: 30%;
              left: 15%;
            }
            &.africa {
              top: 50%;
              left: 47%;
            }
            &.asia-and-the-pacific {
              top: 60%;
              left: 74%;
            }
            &.arab-states{
              top: 43%;
              left: 54%;
            }
            &.europe-and-central-asia {
              top: 25%;
              left: 50%;
            }
          }
        }
      }
    }
  }
  #tertiary-banner {
    nav {
      ul {
        li {
          a {
            font-size: 13px !important;
          }
        }
      }
    }
  }
  .icon-home {
    display: none !important;
    font-size: 15px !important;
  }
  .home-link {
    display: inline !important;
  }
}


//
// Responsive: Standard desktop
// --------------------------------------------------

@media (max-width: 1199px) {


}


//
// Responsive: Tablet to desktop
// --------------------------------------------------

@media (min-width: 768px) and (max-width: 979px) {

  #secondary-banner nav ul li {
    width: 23.7%;
  }
  .navbar-toggle {
    display: block !important;
  }
  #tertiary-banner .navbar-toggle {
    width: auto;
  }
  .collapse {
    display: none;
  }
  #primary-banner {
    h2 {
      font-size: 21px;
      margin-bottom: 8px;
      margin-top: 38px;
    }
  }
  #secondary-banner {
    .mega-dropdown {
      width: 666px;
      &.regions {
        height: 400px;
        background: darken(@ilo-blue, 17%) url('../images/templates/ilo-map-med.png') no-repeat 50% 50% !important;
        ul {
          li {
            &.americas {
              top: 30%;
              left: 15%;
            }
            &.africa {
              top: 50%;
              left: 47%;
            }
            &.asia-and-the-pacific {
              top: 60%;
              left: 68%;
            }
            &.arab-states{
              top: 39%;
              left: 50%;
            }
            &.europe-and-central-asia {
              top: 25%;
              left: 50%;
            }
          }
        }
      }
    }
  }
  #jPanelMenu-menu {
    max-width: 250px !important;
    z-index: 1000 !important;
  }
}


//
// Responsive: Landscape phone to desktop/tablet
// --------------------------------------------------

@media (max-width: 767px) {
  .navbar-toggle {
    display: block !important;
    padding-left: 20px !important;
    background: none !important;
    &:hover, &:active, &:focus {
      background-color: darken(@ilo-blue, 15%) !important;
    }
  }
  .collapse {
    display: none;
  }
  #secondary-banner {
    .large-7-col {
      display: none;
    }
    .container .form-search {
      input {
        width: 100%;
        background-color: lighten(@tan, 10%);
        color: @dark;
        padding-left: 20px !important;
        &:focus {
          background-color: lighten(@tan, 0%);
        }
      }
      ::-webkit-input-placeholder {
        color:    @dark !important;
      }
      :-moz-placeholder {
        color:    @dark !important;
      }
      ::-moz-placeholder {
        color:    @dark !important;
      }
      :-ms-input-placeholder {
        color:    @dark !important;
      }
      .btn {
        position: absolute;
        top: 0;
        right: 15px;
        width: 40px;
      }
    }
  }
  #primary-banner {
    padding-top: 40px;
    overflow: visible;
    position: relative;
    h2, h3 {
      display: none;
    }
    #logo {
      margin: 10px 0 10px 15px;
      display: block;
      img {
        height: 55px;
        width: 154px;
      }
    }
    .language {
      position: absolute;
      width: 155px;
      top: -33px;
      right: 20px;
      z-index: 100;
      border: 0;
    }
  }
  #secondary-banner {
    .form-search {
      input {
        width: 100% !important;
        background: lighten(@tan, 10%) !important;
      }
    }
    .form-search.pull-right {
      float: none !important;
    }
  }
  #tertiary-banner {
    position: absolute;
    top: 0;
    width: 100%;
    height: 40px;
    .navbar-toggle {
      border-left: 0 !important;
      border-right: 0 !important;
    }
  }
  #jPanelMenu-menu {
    max-width: 250px !important;
    z-index: 1000 !important;
  }
  .icon-home {
    display: none !important;
  }
}


//
// Responsive: Midway between Tablet and Smartphone
// --------------------------------------------------

@media (max-width: 767px) and (min-width: 500px) {

}


// Responsive: Smartphone
// --------------------------------------------------

@media (max-width: 480px) {
}


// Social 
// --------------------------------------------------


@media (max-width: 1220px) and (min-width: 1199px) {
  .social-pages {
    right: 2px;
    ul {
      li {
        img {
          width: 18px;
        }
      }
    }
  }
}

@media (max-width: 1025px) and (min-width: 979px) {
  .social-pages {
    right: 2px;
    ul {
      li {
        img {
          width: 18px;
        }
      }
    }
  }
}

@media (max-width: 780px) and (min-width: 767px) {
  .social-pages {
    right: 2px;
    ul {
      li {
        img {
          width: 18px;
        }
      }
    }
  }
}