html {
  direction: rtl;
  /* Right to Left */
  unicode-bidi: embed;
  font-family: Arial, Helvetica, Verdana, sans-serif;
}
#MicrosoftTranslatorWidget {
  position: absolute;
  top: 0;
  left: 0;
}
.large-12-col {
  float: right;
  width: 100%;
}
.large-9-col {
  float: right;
  width: 75%;
}
.large-8-col {
  float: right;
  width: 66.6666666%;
}
.large-7-col {
  float: right;
  width: 58.3333333%;
}
.large-6-col {
  float: right;
  width: 50%;
}
.large-5-col {
  float: right;
  width: 41.66666667%;
}
.large-4-col {
  float: right;
  width: 33.3333333%;
}
.large-3-col {
  float: right;
  width: 25%;
}
@media (max-width: 767px) {
  .large-9-col,
  .large-8-col,
  .large-7-col,
  .large-6-col,
  .large-5-col,
  .large-4-col,
  .large-3-col {
    width: 100%;
  }
}
.text .pictureCaption-left th {
  text-align: right;
}
header nav ul li,
.breadcrumbs ol li {
  float: right;
}
#primary-banner h2,
#primary-banner h3 {
  text-align: left;
}
#primary-banner .language {
  right: auto;
  left: 15px;
}
.sub-nav ol li.dropdown ol {
  padding-left: 0;
  padding-right: 9px;
}
.sub-nav ol li.dropdown a {
  padding-right: 8px;
  padding-left: 20px;
}
.sub-nav ol li.dropdown .expand {
  left: 7px;
  right: auto;
}
.sub-nav ol li.dropdown li a {
  border-left: none;
  border-right: 3px solid #f0e9e2;
}
.sub-nav ol li.here > a,
.sub-nav ol li.dropdown li.here a {
  border-left: none !important;
  border-right: 3px solid #d6775d;
}
.furniture .asia-and-the-pacific .region-flag,
.furniture .americas .region-flag,
.furniture .europe-and-central-asia .region-flag,
.furniture .arab-states .region-flag,
.furniture .africa .region-flag {
  right: auto;
  left: 0 !important;
}
.icon-map-marker {
  margin-right: 8px;
  margin-left: 0 !important;
}
.region-flag {
  padding-left: 0 !important;
  padding-right: 8px;
}
.pull-right {
  float: left;
}
.pull-left {
  float: right;
}
.icon-cogs {
  margin-left: 10px;
}
#logo {
  background-image: url('../images/templates/ilo-arabic.png') !important;
}
#secondary-banner .container nav ul li a {
  background: #4d79b7 url('../images/templates/down-arrow-large.png') no-repeat 7% 48%;
}
#tertiary-banner .navbar-toggle {
  background: transparent url('../images/templates/down-arrow-large.png') no-repeat 1% 48%;
}
#tertiary-banner .navbar-toggle .menu {
  padding-right: 26px;
}
#jPanelMenu-menu .dropdown {
  background: url('../images/templates/down-arrow-large.png') no-repeat 7% 7px;
}
.mega-dropdown.regions li a {
  padding-right: 12px !important;
}
.sub-nav ol li.here > a {
  border-left: 0;
  border-right: 3px solid #ce5c3c;
}
.social-pages ul {
  padding-right: 0;
}
.page-utils ul {
  float: right !important;
}
.page-utils .print-page,
.page-utils .email-page {
  float: right !important;
}
.furniture .africa .region-flag:before {
  content: "أفريقيا";
}
.furniture .americas .region-flag:before {
  content: "الأمريكتين";
}
.furniture .africa .region-flag:before {
  content: "أفريقيا";
}
.furniture .europe-and-central-asia .region-flag:before {
  content: "أوروبا وآسيا الوسطى";
}
.furniture .arab-states .region-flag:before {
  content: "الدول العربية";
}
.furniture .asia-and-the-pacific .region-flag:before {
  content: "آسيا والمحيط الهادئ";
}
#secondary-banner .mega-dropdown {
  left: -388px;
}
.social-pages {
  right: auto;
  left: 10px;
}
.furniture.page-tools .page-share p {
  float: right;
  margin-right: 0;
  margin-left: 5px;
}
.furniture.page-tools .page-language {
  float: right;
}
.furniture.page-tools .page-language p,
.furniture.page-tools .page-language ul {
  float: right;
}
#secondary-banner .mega-dropdown li {
  float: right;
}
.furniture.page-tools .mobile-expand {
  float: left;
}
.flexslider .slides > li {
  padding-right: 0;
}
.flex-direction-nav .flex-next {
  background-position: 0 0;
}
.flex-direction-nav .flex-prev {
  background-position: 100% 0;
}
.furniture.slider #slider .flex-direction-nav .flex-next {
  right: auto;
  left: 20px;
}
.furniture.slider #slider .flex-direction-nav .flex-prev {
  left: auto;
  right: 20px;
}
.furniture.slider-quote .flex-direction-nav li .flex-next,
.furniture.slider-quote:hover .flex-direction-nav li .flex-next {
  background-position: -6% 40%;
  right: auto;
  left: -15px;
}
.furniture.slider-quote .flex-direction-nav li .flex-prev,
.furniture.slider-quote:hover .flex-direction-nav li .flex-prev {
  background-position: 107% 40%;
  left: auto;
  right: -15px;
}
.furniture.slider-quote li {
  background-image: none;
}
.furniture.slider #slider .thumb-carousel,
.furniture.slider #slider-large .thumb-carousel {
  right: auto;
  left: 20px;
}
.furniture.slider #slider .thumb-carousel .carousel-container,
.furniture.slider #slider-large .thumb-carousel .carousel-container {
  right: auto;
  left: -52px;
}
.furniture.slider #slider .thumb-carousel .carousel-container li,
.furniture.slider #slider-large .thumb-carousel .carousel-container li {
  padding-right: 0;
}
.furniture.slider #slider:hover .flex-next {
  left: 80px;
}
.furniture.slider #slider:hover .thumb-carousel .carousel-container {
  right: auto !important;
  left: 0 !important;
}
.furniture.slider-large #slider-large:hover .flex-next {
  left: 27%;
}
.furniture.slider-large #slider-large:hover .thumb-carousel .carousel-container {
  right: auto !important;
  left: 0 !important;
}
.furniture.slider #slider .flex-control-nav,
.furniture.slider #slider-large .flex-control-nav {
  right: auto;
  left: 20px;
}
.furniture.page-tools .tools .page-utils {
  clear: both;
}
.sub-nav .custom-select {
  padding-right: 40px;
}
.back-to-top {
  background-position: 98% center;
  padding-right: 5%;
}
.main-article ul li,
.furniture .freeform > ul li {
  padding-right: 15px;
  padding-left: 0;
  background-position: 100% 6px;
}
.furniture.text-wrap .item-image {
  float: left;
  margin: 0 10px 0 0 !important;
}
.furniture.text-wrap.text-wrap-img-left .item-image {
  float: right;
  margin: 0 0 0 10px !important;
}
.meta-data,
.pagination {
  text-align: right;
}
.filter h3 {
  float: right;
}
.pub-data {
  width: 80%;
  float: right;
}
.pub-data th {
  vertical-align: text-top;
  width: 140px;
}
.pub-data td {
  vertical-align: text-top;
}
.pub-image {
  width: 20%;
  float: left;
}
.pub-image img {
  float: left;
}
@media (min-width: 1200px) {
  .furniture.slider #slider:hover .flex-prev {
    left: auto;
    right: 92px;
  }
}
@media (max-width: 1024px) {
  .furniture.slider #slider:hover .flex-direction-nav .flex-prev {
    right: 20px;
  }
}
@media (max-width: 979px) {
  #secondary-banner .mega-dropdown {
    left: -288px;
  }
  .page-tools .tools-collapse {
    float: right;
  }
  .furniture.slider #slider .flex-prev,
  .furniture.slider:hover #slider .flex-prev {
    right: 20px;
  }
}
@media (max-width: 768px) {
  #tertiary-banner .pull-left {
    float: left !important;
  }
  #primary-banner .large-6-col {
    float: right;
  }
  #primary-banner .large-6-col #logo {
    margin-right: 30px;
  }
  .form-search .btn {
    right: auto !important;
    left: 15px !important;
  }
  #secondary-banner .form-search input {
    margin-left: -31px;
  }
  #tertiary-banner .navbar-toggle .pull-left {
    float: right !important;
  }
  #primary-banner .language {
    right: auto;
    left: 20px;
    top: -130px;
  }
  .post-footer {
    padding-right: 20px!important;
    padding-left: 90px!important;
  }
  .post-footer .furniture .region-flag {
    left: 20px !important;
  }
  .footer .vcard {
    margin-right: 175px;
  }
  .back-to-top {
    background-position: 98% center;
    padding-right: 7%;
  }
}
