/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
@media (min-width: 768px) and (max-width: 979px) {
  .hide-medium {
    display: none !important;
  }
}
@media (max-width: 767px) {
  .hide-small {
    display: none !important;
  }
}
.row-search-control {
  margin-bottom: 40px;
}
.row-search-control h2 {
  margin-left: 10px;
  margin-right: 10px;
}
.row-search-control .wrapper-query {
  position: relative;
  margin-right: 230px;
}
.row-search-control .wrapper-query .query {
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  padding: 7px 10px 8px 10px;
  height: 34px;
  background-color: #8eb0d9;
  border: none;
}
.row-search-control .wrapper-sort {
  position: relative;
  float: right;
}
.row-search-control .wrapper-sort .sort {
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 34px;
  width: 130px;
  text-align: left;
}
.row-search-control .wrapper-sort ul {
  display: none;
  z-index: 1;
  position: absolute;
  overflow: hidden;
  margin: 0;
  padding: 0;
  list-style: none;
  border: solid 1px #8eb0d9;
  background-color: #fff;
  border-top: none;
  top: 34px;
  left: 0;
  right: 0;
}
.row-search-control .wrapper-sort ul li a {
  display: block;
  padding: 5px 8px;
}
.row-search-control .wrapper-submit {
  float: right;
}
.row-search-control .wrapper-submit .submit {
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url('../assets/images/templates/mag-low.png');
  height: 34px;
  width: 100px;
}
@media (max-width: 979px) {
  .row-search-control {
    margin-bottom: 20px;
  }
}
@media (max-width: 767px) {
  .row-search-control .wrapper-query {
    margin-right: 164px;
  }
  .row-search-control .wrapper-submit .submit {
    width: 34px;
    padding: 0;
    background-position: 64% 48%;
  }
  .row-search-control .wrapper-submit .submit .label {
    display: none;
  }
}
.sub-nav-search h4 {
  margin-bottom: 20px;
  padding: 10px;
}
.sub-nav-search h4 a {
  display: none;
  float: right;
  color: #fff;
  background-color: #CE5C3C;
  padding: 0 4px;
}
.sub-nav-search .nav-refine {
  border: solid 1px #e3e3e3;
  padding: 5px;
  margin-bottom: 10px;
}
.sub-nav-search .nav-refine h5 {
  background-color: #f6f2ee;
  color: #cd5c3c;
  font-size: 1.35rem;
  padding: 5px 8px;
  margin: 0;
  margin-bottom: 5px;
}
.sub-nav-search .nav-refine ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.sub-nav-search .nav-refine ul li {
  padding-left: 8px;
}
@media (max-width: 979px) {
  .sub-nav-search {
    border-top: none;
  }
  .sub-nav-search h4 {
    display: block !important;
    margin-bottom: 10px;
    color: #CE5C3C;
    background-color: transparent;
  }
  .sub-nav-search h4 a {
    display: block;
  }
  .sub-nav-search .nav-refine {
    display: none;
  }
}
.search-summary {
  padding: 8px 10px;
  border-top: solid 1px #e3e3e3;
  border-bottom: solid 1px #e3e3e3;
  line-height: 21px;
}
.search-summary .subscribe {
  float: right;
}
.search-summary .subscribe a {
  line-height: 22px;
}
.search-summary .subscribe a img {
  float: right;
  border: 0;
  height: 20px;
  margin-left: 5px;
}
.search-summary ul.filtered {
  position: relative;
  overflow: hidden;
  list-style: none;
  margin: 5px 0;
  padding: 0;
}
.search-summary ul.filtered li {
  float: left;
  margin: 5px 0 0 10px;
  padding: 0;
}
.search-summary ul.filtered li a {
  display: block;
  padding: 4px 20px 4px 4px;
  color: #fff;
  background: #999999 url(../images/ic-remove.gif) no-repeat right 10px;
}
.search-summary ul.filtered li a:hover {
  background-color: #aaa;
}
.search-summary ul.filtered li:first-child {
  margin-left: 0;
}
@media (max-width: 979px) {
  .search-summary {
    border-top: none;
    border-bottom: none;
    background-color: #f6f2ee;
  }
}
.search-didyoumean {
  padding: 8px 10px;
  border-bottom: solid 1px #e3e3e3;
  line-height: 21px;
  background-color: #ffe;
}
.search-result {
  margin-bottom: 20px;
}
.search-result .doc {
  padding: 0 10px;
  clear: right;
}
.search-result .doc .thumbnail {
  float: right;
  max-width: 140px;
  max-height: 200px;
  margin-left: 10px;
  margin-bottom: 10px;
}
.search-result .doc h2 {
  margin-bottom: 10px;
}
.search-result .doc .teaser {
  margin-bottom: 10px;
}
.search-result .doc .attachment {
  margin-bottom: 10px;
}
.search-result .doc .attachment a {
  margin-left: 5px;
}
.search-result .doc .link {
  color: #222;
}
.search-result .doc .link .category {
  margin-left: 10px;
}
.search-pagination {
  padding: 8px 10px;
  margin-bottom: 20px;
  background-color: #f6f2ee;
}
.search-pagination .page-option {
  float: right;
}
.search-pagination .page-option a.selected {
  background-color: #4B4B4B;
  color: #fff;
  padding: 0 6px;
}
@media (max-width: 767px) {
  .search-pagination {
    background-color: transparent;
  }
  .search-pagination .page-option {
    float: none;
  }
  .search-pagination .page-status {
    display: none;
  }
}
.thumbnail > img { max-width: 100% }

