@import 'element';

@media (min-width: 768px) and (max-width: 979px) {
  .hide-medium {
    display: none !important;
  }
}

@media (max-width: 767px) {
  .hide-small {
    display: none !important;
  }
}

.row-search-control {
  margin-bottom: 40px;

  h2 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .wrapper-query {
    position: relative;
    margin-right: 230px;

    .query {
      .box-sizing(border-box);
      width: 100%;
      padding: 7px 10px 8px 10px;
      height: 34px;
      background-color: #8eb0d9;
      border: none;
    }
  }

  .wrapper-sort {
    position: relative;
    float: right;

    .sort {
      .box-sizing(border-box);
      height: 34px;
      width: 130px;
      text-align: left;
    }

    ul {
      display: none;
      z-index: 1;
      position: absolute;
      overflow: hidden;
      margin: 0;
      padding: 0;
      list-style: none;
      border: solid 1px #8eb0d9;
      background-color: #fff;
      border-top: none;

      top: 34px;
      left: 0;
      right: 0;

      li {
        a {
          display: block;
          padding: 5px 8px;
        }
      }
    }
  }

  .wrapper-submit {
    float: right;

    .submit {
      .box-sizing(border-box);
      background-image: url('../assets/images/templates/mag-low.png');
      height: 34px;
      width: 100px;
    }
  }

  @media (max-width: 979px) {
    margin-bottom: 20px;
  }

  @media (max-width: 767px) {
    .wrapper-query {
      margin-right: 34px + 130px;
    }

    .wrapper-submit {
      .submit {
        width: 34px;
        padding: 0;
        background-position: 64% 48%;

        .label {
          display: none;
        }
      }
    }
  }
}

.sub-nav-search {
  h4 {
    margin-bottom: 20px;
    padding: 10px;

    a {
      display: none;
      float: right;
      color: #fff;
      background-color: #CE5C3C;
      padding: 0 4px;
    }
  }

  .nav-refine {
    border: solid 1px #e3e3e3;
    padding: 5px;
    margin-bottom: 10px;

    h5 {
      background-color: #f6f2ee;
      color: #cd5c3c;
      font-size: 1.35rem;
      padding: 5px 8px;
      margin: 0;
      margin-bottom: 5px;
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        padding-left: 8px;
//        text-transform: capitalize;
      }
    }
  }

  @media (max-width: 979px) {
    border-top: none;

    h4 {
      display: block !important;
      margin-bottom: 10px;
      color: #CE5C3C;
      background-color: transparent;

      a {
        display: block;
      }
    }

    .nav-refine {
      display: none;
    }
  }
}

.search-summary {
  padding: 8px 10px;
  border-top: solid 1px #e3e3e3;
  border-bottom: solid 1px #e3e3e3;
  line-height: 21px;

  .subscribe {
    float: right;

    a {
      line-height: 22px;

      img {
        float: right;
        border: 0;
        height: 20px;
        margin-left: 5px;
      }
    }
  }

  ul.filtered {
    position: relative;
    overflow: hidden;
    list-style: none;
    margin: 5px 0;
    padding: 0;

    li {
      float: left;
      margin: 5px 0 0 10px;
      padding: 0;

      a {
        display: block;
        padding: 4px 20px 4px 4px;
        color: #fff;
        background: #999 url(../images/ic-remove.gif) no-repeat right 10px;
//        text-transform: capitalize;

        &:hover {
          background-color: #aaa;
        }
      }

      &:first-child {
        margin-left: 0;
      }
    }
  }

  @media (max-width: 979px) {
    border-top: none;
    border-bottom: none;
    background-color: #f6f2ee;
  }
}

.search-didyoumean {
  padding: 8px 10px;
  border-bottom: solid 1px #e3e3e3;
  line-height: 21px;
  background-color: #ffe;
}

.search-result {
  margin-bottom: 20px;

  .doc {
    padding: 0 10px;
    clear: right;

    .thumbnail {
      float: right;
      max-width: 140px;
      max-height: 200px;
      margin-left: 10px;
      margin-bottom: 10px;
    }

    h2 {
      margin-bottom: 10px;
    }

    .teaser {
      margin-bottom: 10px;
    }

    .attachment {
      margin-bottom: 10px;

      a {
        margin-left: 5px;
      }
    }

    .link {
      color: #222;

      .time {

      }

      .category {
        margin-left: 10px;
      }
    }
  }

  .doc.rtl {
    a[href$=".pdf"] {
      background: none;
    }
  }
}

.search-pagination {
  padding: 8px 10px;
  margin-bottom: 20px;
  background-color: #f6f2ee;

  .page-option {
    float: right;

    a {
      &.selected {
        background-color: #4B4B4B;
        color: #fff;
        padding: 0 6px;
      }
    }
  }

  @media (max-width: 767px) {
    background-color: transparent;

    .page-option {
      float: none;
    }

    .page-status {
      display: none;
    }
  }
}